.boxImg {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.promotion {
    display: flex;
    flex-direction: column;
    gap: 3px
}

.boxImg .promotion {
    position: absolute;
    top: 3.5%;
    left: 4.3%;


}

.soldOut,
.discount,
.preOder {
    background-color: #757575;
    border-radius: 30px;
    padding: 4px 7px;
    width: fit-content;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    letter-spacing: -2%;
    justify-content: center;
    align-items: center;
}
.preOder{
    letter-spacing: -5%;
}
.discount {
    background-color: #D73F0F;
}

.preOder {
    background-color: #177983;
}

.contentCard {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    transform: translate(-0.5%,1%);
}

.contentCard h5 {
    font-size: 12px;
    font-weight: 400;

}

.contentCard h6 {
    font-size: 10px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
}

.fullStart {
    color: #111111;
    font-size: 11px;
}

.partStart {
    background: linear-gradient(to right, #111111 50%, #C8C8C8 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 11px;
}

.noneStart {
    color: #C8C8C8;
    font-size: 12px;
}

.ListColor {
    margin-top: 5px;
    display: flex;
    gap: 5px
}

.chooseBoxButtonCard {
    border: 1px #111111 solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price h6{
    font-size: 12px;
}
.boxButtonCard {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px #DDDDDD solid;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



.boxButtonCard button,
.chooseBoxButtonCard button {
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 50%;
}

.buttonIconHover {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonIcon {
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerSale {
    background-color: #111111;
    color: #FFFFFF;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    white-space: nowrap;
}

.bannerSale {
    display: flex;
    justify-content: center;
    gap: 5px
}