.header {
    padding:  0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menuHeader {
    display: flex;
    justify-content: center;
    gap: 23px;
    transform: translate(8%,1% );
    

}

.menuHeader span {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -2%;
}

.tool {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    transform: translate(4.5%, 12%);
}

.headerTool {
    width: 17px;
    height: 17px;
}

.headerToolWishList,
.headerToolCart {
    width: 28px;
    height: 17px;
}

.wishlist,
.cart {
    position: relative;
}

.infoWishlist,
.infoCart {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #D73F0F;
    top: -25%;
    right: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.infoWishlist span,
.infoCart span {
    font-size: 8px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.headerLeft {
    display: none;
    position: relative;
}

.headerLeft:hover .menuAlong {
    display: block;
}

.menuAlong {
    display: none;
    width: 200px;
    background-color: #FFFFFF;
    position: absolute;
    top: 100%;
    z-index: 100;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menuAlong .select {
    padding: 10px;
}

.menuAlong .select:hover {
    background-color: #EBEBEB;
}

@media (max-width:1000px) {
    .headerLeft {
        display: block;
    }

    .menuHeader {
        display: none;
    }
}

@media (max-width:431px) {

    .wishlist,
    .user,
    .lock {
        display: none;
    }

    .infoCart {
        background-color: #D73F0F;
    }
}